.container{
    padding-bottom: 20px;
    border: 3px solid darkslategray;
    height:auto;
  width:900px;	
    min-width:900px;
    max-width:900px;	
    display: flex;
    flex-direction: column;
    margin: 0px auto; 
    font-family: 'Calibri', sans-serif;	
}
h1,h2,h3,h4,h5{
	    font-family: 'Calibri', sans-serif;	
}
	
h4{
    margin: 30px 0px ;
    margin-bottom: 15px;
    padding: 5px 0px;
    
}

#height{
  margin-top: 10px;  
}





label{
    display: inline-block;
    height: 45px;
   
    width: 190px;
    margin-top:10px;	

    margin-left: 255px;
	
    font-weight: bolder;
   
     font-family: 'Calibri', sans-serif;		
}
input{   
    display: inline-block;
    width: 145px;
    height: 37px;
	padding: 10px 16px;
	margin-right:255px;
    margin-top:10px;
    margin-bottom:0px;	
    font-size: larger;
   
    font-weight: bold;
    text-shadow: 0px;
    border: 1.5px solid darkslategray;
     font-family: 'Calibri', sans-serif;	
    background: white;
    color: darkslategray;
    text-align: center;	
}

.gender{
     margin-top:10px;
    margin-bottom:0px;
    
    border: 1.5px solid darkslategray ;
    font-weight: bold;
    font-size:large;
    
       
    width: 72px;
    height: 37px;
    	
        text-align: center;
     padding: 0px  ;
          justify-content:center;
}
#female{
    margin-right:255px;}
 #female,#male{   
    background-color:white;
   color:  darkslategray;
    text-shadow:  0px 0px 0px black;
}
#male{
       position:relative;
	       right:-18px;
}




.iConfirm{
    margin: 0px 40px;
    margin-top: 25px;
    background: lightgrey;
    padding: 20px;    
    border: 1px solid black;
}
#ferinjectBtn,#monoferBtn,#cosmoferBtn{
    margin: 40px 20px;
    width: 140px;
    padding: 12px 4px;
    text-align: center;
    border-radius: 8px;
    background: darkslategray;
    color: white;
    text-shadow: 0px 0px 4px black;
    border: 1px solid black ;
    font-weight: bold;
    font-size:x-large;
    
}
#calculate{
   
    width: 100%;
    text-align: center;
    margin: 0px ;
}
body{
   background: white;
   color: black;
   text-shadow: 0px ; 
      font-family: 'Calibri', sans-serif;	
      margin: 0;
    

    
}
.color{
       display: flex;

    justify-content: space-between;
   margin: 10px;
}

.color ul {
    display: inline-block;
    position: relative;
    left: 365px;
    bottom:55px;
    color: brown;
    list-style: none;
    font-size: x-small;
    text-shadow: 0px 0px 0px black;
}

h5{
    color: grey;
    margin: 0px auto;
    text-align: center;
    margin-left: 30px;
}

    



header{
    background: darkslategray;
    color: white;
    background: cover;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 8px;
    text-shadow: 0px 0px 4px black; 
    border-top: 5px solid darkslategray;
    
}

.minMax{
    color: gray;
    display: block;
    font-style: italic;
    font-size: smaller;
    min-width:220px;
 width:220px;

height:28px;


  
}

.underline{
    
}
#shah{
    
    display: inline-block;
    min-width:800px;
    width: 800px;
    align-self: center;
    padding: 20px 25px;
    margin: 0px auto;
}
#render-dose{
    
    display: inline-block;
    padding: 20px 20px;
    margin: -20px auto;
}
#render-dose h4{
    margin: 20px;
    padding: 20px;
    border: 4px solid gray;
}

#render-dose span{
    text-decoration: underline;
}

#render-dose li,#single{
    margin-bottom: 10px;
    
}
#single{
    text-decoration: none;
    margin-bottom: 10px
}
#render-dose h5{
  color:  purple;
}


.references{
font-size: medium;



}

#Ferinject,#Monofer,#Cosmofer,#guidelines,#reference-heading{
  margin: 0px 20px;
    font-size: small;
    font-weight: normal;
}
#Cosmofer{
    margin-bottom: -15px;
}
#reference-heading{
    text-decoration: underline;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 10px;
    
}
#references{
    
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 815px;
    margin-top: 0px;
    
}



#selection-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin:  0px 80px;
    margin-bottom: -40px; 
    
}
#selection-message{
    
    margin-bottom: -50px;
}

.finalCalc, #selection-message{
   color:red;	}


 
.mr{
	margin-right:60px;
}
	
	
	
	
